<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {{ title }}
    </title>

    <!-- Stylesheets go here -->
    <link href="/static/css/materialize.min.css" rel="stylesheet" type="text/css"/>
    {% block stylesheets %}{% endblock %}

</head>
<body>
    
    <!--Navbar-->
    <div>
    <a href="{{url_for('index')}}">Home</a> |
    <a href="{{url_for('about_us')}}">About</a> |
    <a href="{{url_for('view_joke')}}">View Joke</a> |

    {% if not (session and session["email"]) %}
        <!--If user not logged in, show login and signup links-->
        <a href="{{url_for('login')}}">Login</a> |
        <a href="{{url_for('signup')}}">Sign Up</a>
    {% else%}
        <!--If user logged in, show links to logout and manage account-->
        <a href="{{url_for('account')}}">My Account</a> |
        <a href="#" onclick="logout()">Logout</a>
    {% endif %}

    </div>
    {% block content %}{% endblock %}


    <!-- Scripts must be loaded at the end of body -->
    <script type="text/javascript" src="{{url_for('static', filename="js/jquery.min.js")}}"></script>

    {% if session and session["email"] %}
    <!--Logout function for logged in users-->
    <script type="text/javascript">
        var logout = function() {
            var emptyjson = "{}";
            var posting = $.post({
                url: "/logout",
                data: emptyjson,
                success: function(response) {
                    console.log("Submitted");
                    if (response) {
                        if (response.redirect) {
                            window.location.href = response.redirect;
                        } else if (response.msg) {
                            console.log("Msg received: " + response.msg)
                        } else {
                            console.log("Logout successful.")
                        }
                    }
                },
                error: function(data, err) {
                    console.log("An error occurred during logout.");
                },

                dataType: "json",
                contentType : "application/json;charset=UTF-8",
            });
        };
    </script>
    {% endif %}

    {% block scripts %}{% endblock %}

</body>
</html>
