{% extends "base.html" %}

{% block content %}
    <h1>Login to Joke Review</h1>

    <form id="loginForm" name="loginForm">
    Email: <input type="text" id="emailField"/>
    <br/>
    Password: <input type="password" id="passwordField" />
    <br/>
    <input value="Submit" type="button" onclick="loginSubmit()" />
    </form>
    <br/>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{url_for('static', filename="js/auth.js")}}"></script>
<script type="text/javascript">

</script>
{% endblock %}
