{% extends "base.html" %}

/* Will be provided email and password field names */
/* email, password are the field names for the POST request*/
/* emailField, passwordField are the params for the form*/


{% block content %}
    <h1>Login to Joke Review</h1>

    <form id="loginForm" name="loginForm">
    Email: <input type="text" id="emailField"/>
    <br/>
    Password: <input type="password" id="passwordField" />
    <br/>
    <input value="Submit" type="button" onclick="loginSubmit()" />
    </form>
    <br/>

{% endblock %}

{% block scripts %}
<script src="/static/js/auth.js"></script>
{% endblock %}
