{% extends "base.html" %}

/* Will be provided email and password field names */
/* email, password are the field names for the POST request*/
/* emailField, passwordField are the params for the form*/


{% block content %}
<h1>Signup for the Humor Genome Project</h1>

<form id="signupForm" name="signupForm">
    Email: <input type="text" id="emailField"/>
    <br/>
    Password: <input type="password" id="passwordField1" />
    <br/>
    Confirm Password: <input type="password" id="passwordField2" />
    <br/>
    First Name: <input type="text" id="fnameField" />
    <br/>
    Last Name: <input type="text" id="lnameField" />
    <br/>

    Type of User:

    <p>
        <input class="with-gap" name="userType" type="radio" id="regularType" />
        <label for="regularType">Regular</label>
    </p>
    <p>
        <input class="with-gap" name="userType" type="radio" id="privilegedType" />
        <label for="privilegedType">Privileged</label>
    </p>


    <input value="Submit" type="button" onclick="signupSubmit()" />
    <br/>


</form>
<br/>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{url_for('static', filename="js/signup.js")}}"></script>
{% endblock %}
