{% extends "base.html" %}

/* Will be provided joke_title, joke_content, jokeId, and privileged as vars */

{% block content %}

<h3>Here's a Joke</h3>

<form id="jokeForm" name="jokeForm">

    {% if privileged: %}
    <!-- User is privileged. Allow to modify contents and categories -->
    <label for="titleField">Title</label> <br />
    <textarea id="titleField" class="materialize-textarea"> {{ joke_title }} </textarea>

    <label for="contentField">Content</label> <br />
    <textarea id="contentField" class="materialize-textarea">{{ joke_content }}</textarea>

    {% else : %}
    <!-- User is not privileged. Can only view joke -->
    <strong>
        {{ joke_title }}
    </strong>
    <p>
        {{ joke_content }}
    </p>
    {% endif %}

    <input value="Submit" type="button" onclick="submitJoke()" />
    <br/>

</form>
<br/>


{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{url_for('static', filename="js/view_joke.js")}}"></script>
{% endblock %}
